{% extends 'base.html.twig' %}

{% block title %}CSV File Import{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in results %}
                        <tr>
                            <td>{{ value.name }}</td>
                            <td>{{ value.number }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}